<div class="contacts">
  <a href="mailto:info@yourcommpany.com" class="mail">info@yourcommpany.com</a>
  <a href="tel:+001 235 1245 2356" class="tel">+001 235 1245 2356</a>
  <div class="icons">
    <img src="assets/images/face.svg" class="icon1">
    <img src="assets/images/twit.svg" class="icon2">
    <img src="assets/images/pin.svg" class="icon3">
    <img src="assets/images/inst.svg" class="icon4">
    <img src="assets/images/you.svg" class="icon5">
  </div>

</div>
<div class="menu">
  <p class="logo">Travello.</p>
  <menu>
    <li>Home</li>
    <li>About</li>
    <li>Blog</li>
    <li>Account</li>
    <li>Login</li>
    <li>Burger</li>
  </menu>
</div>
