<div class="footer-info">
  <div class="footer-address">
    <p class="logo">Travello.</p>
    <a href="mailto:hello@templatesjungle.com" class="email">hello@templatesjungle.com</a>
    <p class="street">15Th Street Avenue, New York, USA</p>
    <a href="tel:011-554-8798-6556" class="number">011-554-8798-6556</a>
  </div>
  <div class="social-icons">
    <a href="https://ru-ru.facebook.com/" target="_blank" class="icon__link"><img src="assets/images/logo-facebook.svg" class="icon"></a>
    <a href="https://twitter.com/?lang=ru" target="_blank" class="icon__link"><img src="assets/images/logo-twitter.svg" class="icon"></a>
    <a href="https://www.pinterest.ru/" target="_blank" class="icon__link"><img src="assets/images/logo-pinterest.svg" class="icon"></a>
    <a href="https://www.instagram.com/" target="_blank" class="icon__link"><img src="assets/images/logo-instagram.svg" class="icon"></a>
    <a href="https://www.youtube.com/" target="_blank" class="icon__link"><img src="assets/images/logo-youtube.svg" class="icon"></a>
  </div>
</div>
<div class="footer-liner"></div>
<div class="footer-copyright">
  <p class="text-left">© 2022 TemplatesJungle. All rights reserved.</p>
  <p class="text-right">Design by <span class="weight-text">TemplatesJungle</span></p>
</div>
