<button type="button" class="small-blue-button">{{titleSmall}}</button>
<br>
<br>
<button type="button" class="big-blue-button">{{titleBig}}</button>
<br>
<br>
<button type="button" class="ghost-button">{{titleGhost}}</button>
<br>
<br>
<form class="search-cite">
  <input type="search" class="search-input" placeholder="Where do you want to go?">
  <button type="button" class="search-icon"></button>
</form>
<br>
<br>
<ul class="tabs">
  <li class="tab tab_select">Singapore</li>
  <li class="tab">China</li>
  <li class="tab">India</li>
  <li class="tab">Bhutan</li>
  <li class="tab">Thailand</li>
  <li class="tab">Nepal</li>
</ul>
<br>
<br>
