@import "src/assets/styles/variables.scss";

* {
  margin: 0;
}

.card-wrapper {
  background-color: #000000;
  max-width: 320px;
  border-radius: 8px;
}

.images {
  border: 1px solid #000000;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}

.hotel {}

.heart {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.content {
  padding: 0px 15px 0px 24px;
}

.title {
  @include arsenal700;
  font-size: 24px;
  color: $white;
  margin-top: 38px;
}

.counter-wrapper {
  margin-top: 18px;
}

.counter {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.prices {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.old-price {
  color: #B1B4B9;
  @include dm-italic;
  font-size: 22px;
  margin-bottom: 9px;
  margin-right: 4px;
  text-decoration: line-through;
}

.new-price {
  color: $white;
  @include dm;
  font-size: 48px;
  &__night {
    font-size: 18px;
  }
}

.description {
  color: #8991AF;
  @include open400;
  font-size: 16px;
  line-height: 25px;
  margin-top: 30px;
}

.button-card {
  padding-top: 37px;
  padding-bottom: 24px;
}
