<div class="card-wrapper">
  <div class="images">
    <img src="assets/images/Hotel1.png" class="hotel">
    <img src="assets/images/heart.svg" class="heart">
  </div>
  <div class="content">
    <p class="title">DoubleTree Montreal Hotel</p>
    <div class="counter-wrapper">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
    </div>
    <div class="prices">
      <p class="old-price">$149</p>
      <p class="new-price">$99<span class="new-price__night">/night</span></p>
    </div>
    <p class="description">Habitasse quis morbi morbi nunc dignissim convallis vestibulum. Pharetra vel nulla quis egestas dui, duis nec vulputate nunc.</p>
  </div>
</div>
