<div class="card-wrapper">
  <div class="images">
    <img [src]="imageUrl" class="hotel">
    <img src="assets/images/heart.svg" class="heart">
  </div>
  <div class="content">
    <p class="title">{{title}}</p>
    <div class="counter-wrapper">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
      <img src="assets/images/star.svg" class="counter">
    </div>
    <div class="prices">
      <p class="old-price">${{oldPrice}}</p>
      <p class="new-price">${{newPrice}}<span class="new-price__night">/night</span></p>
    </div>
    <p class="description">{{description}}</p>
  </div>
  <div class="button-card">
    <app-button [type]="'m'" [title]="'Select Rooms'"></app-button>
  </div>

</div>
