<app-header></app-header>
<div class="benefits">
  <app-benefit [title]="'100+ Options'"
               [description]="'At in proin consequat ut cursus venenatis sapien.'"
               [imageUrl]="'assets/images/arch.svg'"></app-benefit>
  <app-benefit [title]="'Good Quality'"
               [description]="'At in proin consequat ut cursus venenatis sapien.'"></app-benefit>
  <app-benefit [title]="'Easy Interface'"
               [description]="'At in proin consequat ut cursus venenatis sapien.'"
               [imageUrl]="'assets/images/tolk.svg'"></app-benefit>
  <app-benefit [title]="'Tracking Code'"
               [description]="'At in proin consequat ut cursus venenatis sapien.'"
               [imageUrl]="'assets/images/pc.svg'"></app-benefit>
</div>
<app-elements [titleSmall]="'Your current plan'" [titleBig]="'Select Rooms'" [titleGhost]="'View all'"></app-elements>
<div class="tour-group">
  <app-tour></app-tour>
  <app-tour [title]="'Niagara Falls Marriott'"
            [description]="'Amazing hotel with hot springs. From the window you will see lakes and coniferous forests. Clean mountain air will improve health.'"
            [imageUrl]="'assets/images/Hotel2.png'"
            [oldPrice]="'189'"
            [newPrice]="'110'"></app-tour>
  <app-tour [imageUrl]="'assets/images/Hotel3.png'"></app-tour>
  <app-tour [imageUrl]="'assets/images/Hotel4.png'"></app-tour>
</div>
<br>
<br>
<div class="plan-group">
  <app-plan [titleButton]="'Your current plan'" [description]="'Our goverment backed plan designed to keep your business legally and secure'"></app-plan>
  <app-plan [titleButton]="'Your current plan'" [price]="59" [rate]="'Business'" [description]="'Our goverment backed plan designed to keep your business legally and secure'"></app-plan>
  <app-plan [titleButton]="'Your current plan'" [price]="99" [rate]="'Agency'" [itemFour]="'At in proin consequat ut cursus'"></app-plan>
</div>
