@import "src/assets/styles/variables.scss";

html {
  font-size: 16px;
}

body {
  background-color: $dark;
  background-image: url("/assets/images/sky.png");
  background-repeat: no-repeat;
  background-position: 0 68px;
  background-size: contain;
}

.map-image {
  background-image: url("/assets/images/map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 95.5%;
  height: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
}
