<div class="plan-card">
  <div class="content">
    <p class="price">$39<span class="month">/month</span></p>
    <p class="user">Personal</p>
    <p class="description">Our goverment backed plan designed to keep your business legally and secure</p>
    <div class="liner"></div>
    <ul class="benefit-list">
      <li class="item">Secure your customer usage</li>
      <li class="item">View basic analytics</li>
      <li class="item">Up to 350 customer profiles</li>
      <li class="item">Custom network name</li>
    </ul>
  </div>
  <div class="button">
    <app-button [type]="'s'" [title]="titleButton"></app-button>
  </div>
</div>
