<div class="plan-card">
  <div class="content">
    <p class="price">${{price}}<span class="month">/month</span></p>
    <p class="user">{{rate}}</p>
    <p class="description">{{description}}</p>
    <div class="liner"></div>
    <ul class="benefit-list">
      <li class="item">{{itemOne}}</li>
      <li class="item">{{itemTwo}}</li>
      <li class="item">{{itemFree}}</li>
      <li class="item">{{itemFour}}</li>
    </ul>
  </div>
  <div class="button">
    <app-button [type]="'s'" [title]="titleButton"></app-button>
  </div>
</div>
