@import "src/assets/styles/variables.scss";

* {
  margin: 0;
}

.plan-card {
  width: 434px;
  background: #000000;
  opacity: 0.8;
  border-radius: 16px;
}

.content {
  padding: 50px 65px 0px 60px;
}

.price {
  @include dm;
  font-size: 3.125rem;
  color: $white;
}

.month {
  @include open400;
  font-size: 1rem;
  color: #A5ADBB;
  margin-left: 4px;
}

.user {
  color: $white;
  @include arsenal400;
  font-size: 1.3125rem;
  margin-top: 5px;
}

.description {
  color: #A5ADBB;
  @include open400;
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 44px;
  margin-top: 30px;
  max-width: 309px;
}

.liner {
  width: 309px;
  height: 2px;
  background: rgba(235, 236, 237, 0.2);
  margin: 0 auto;
}

.benefit-list {
  color: #A5ADBB;
  @include open400;
  font-size: 1rem;
  line-height: 25px;
  margin-top: 62px;
}

.item {
  list-style-type: none;
  margin-bottom: 22px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: -39px;
    top: 7px;
    width: 18px;
    height: 3px;
    background: $accent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &:before {
    content: '';
    position: absolute;
    left: -44px;
    top: 11px;
    width: 10px;
    height: 3px;
    background: $accent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.button {
  padding-bottom: 80px;
  padding-top: 193px;
}
